.header-h1, .dua-h5{
    font-family: 'PlayFair Display';
    color: var(--text-primary-color);
}
.header-p,.dua-small{
    font-family: 'DM Sans';
    color: var(--text-secondary-color);
}
.search-bar{
    background-color: var(--card-bg-secondary) !important;
    color: var(--text-secondary-color) !important;
}
.search-icon{
    color: var(--text-primary-color);
}
.search-bar:focus{
    outline: 1px solid var(--card-bg-primary) !important;
}
.cat-btn{
    color: var(--text-primary-color) !important;
    background-color: var(--card-bg-secondary) !important;
}
.cat-btn.active{
    background-color: var(--nav-icon-txt) !important;
    color: var(--icon-active-txt) !important;
    border: none;

}
.dua-card{
    background-color: var(--card-bg-secondary);
    border: 1px solid var(--card-border) ;
}
.dua-icon{
    color: var(--icon-color);
    background-color: var(--icon-bg);
    
}
.arabic-text{
    font-family: 'Amiri' !important;
    color: var(--text-primary-color);
    font-size: 1.8rem;
    line-height: 60px;
}
.trans-p, .trans-p-ml{
    color: var(--text-secondary-color);
}
.dua-trans{
    color: var(--text-primary-color);
    font-family: 'DM Sans';
}
@media (max-width:768px){
    .arabic-text{
        font-size: 1.5rem;
    }
}