/* Card */
.cert-card {
  border-radius: 24px;
}

/* Icon */
.cert-icon-wrapper {
  background-color: var(--icon-bg);
  padding: 10px;
  border-radius: 12px;
  color: var(--icon-color);
}

/* Small text */
.smallest {
  font-size: 0.7rem;
}

/* Category/Type Badges */
.cert-type-badge {
  background-color: transparent;
  color: var(--text-primary-color) !important;
  border: 1px solid var(--card-border);
  font-weight: 500;
  font-size: 12px;
  border-radius: 999px;
  padding: 5px 12px;
  text-transform: capitalize;
}

/* Status Pills (BASE) */
.badge.status-pill {
  padding: 6px 14px;
  border-radius: 999px;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  background-color:var(--card-bg-primary);
}

/* Status colors */
.badge.status-pill.pending {
  background-color: #f1eee4 !important;
  color: #856404 !important;
}

.badge.status-pill.approved {
  background-color: #e6f3ed !important;
  color: #1e4d3a !important;
}

.badge.status-pill.rejected {
  background-color: #fceaea !important;
  color: #d9534f !important;
}

/* Table header */
.custom-table thead th {
  color:var(--text-primary-color);
  font-size: 0.8rem;
  background-color: var(--card-bg-primary);
  border-bottom: 1px solid var(--card-border);
}

/* Action icons */
.action-icon {
  transition: all 0.2s ease;
  color: var(--text-secondary-color) !important;
}

.action-icon:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.date, .app-id{
  color: var(--text-secondary-color) !important;
}